[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pycairo = {path = "./pycairo-1.20.0-cp38-cp38-win32.whl"}
matplotlib = "*"
scipy = "*"
numpy = "*"
plotly = "==4.14.1"
pandas = "*"
dash = "*"

[requires]
python_version = "3.8"
